body {
    background-color: white;
}
section{
    padding-top:200px;
}

#styledtable{
    border-collapse:collapse;
}

#styledtable td{
    border: 1px solid #000000;
    width: 600px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
}

#title{
    width:20px;
    height:30px;
}
td img {
    width: 100%;
    
}
#irene{
    color:blue;
    text-align: center;
    width:675px;
    height:700px;
    
}